@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import  'tailwindcss';

@theme{
    --font-title:'Dancing Script',serif;
    --font-sans:'Lato' , serif;
    --color-primary:#0a001b;
    --color-background:#0a001b;

    --background-image-hero: url('public/img/galeriaa/bg.jpg');
}